@import 'global';
@import 'sweetalerts';
/* @import 'vendor/reactGrid'; */

.has-feedback label~.form-control-feedback {
  top: 35px;
}
.modal-title {
  color: white;
}
.elip {
  color: $darkPrimary;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 28px 10px 10px -13px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter:alpha(opacity=0);
}
.circleOfTrustDataTitle {
  font-family: 'open-sans-semibold';
  color: $mediumDarkGrey;
}
.circleOfTrustName {
  font-family: 'open-sans-light';
  color: $darkestSecondary
}
.modal-title {
  color: $darkPrimary;
}
.lifespeedPink {
  color: $darkPrimary;
}
.bellNumber {
  font-weight: 100;
  position: relative;
  bottom: 2px;
}
.dropdown-menu {
  box-shadow: 0 0 rgba(102, 102, 102, 0.1);
}
#reactNavItems {
  margin-right: 0;
}
.control-label {
  color: $darkestSecondary;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: $darkestSecondary;
}
