@import "global";
@import "page-styles";
@import "sweetalerts";

.profile-hr {
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 10px;
}
.dependent-links {
  margin-top: 10px;
  margin-bottom: 20px;
  button {
    margin-right: 20px;
  }
}
#userDependents {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dependent-container {
  border: 1px solid $lightGrey;
  width: 450px;
  height: auto;
  border-top: 3px solid $darkPrimary;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.updated {
  padding-left: 5px;
  padding-right: 5px;
}
.last-updated {
  font-size: 12px;
  font-family: 'open-sans-semibold', sans-serif;
  color: $fontPrimary;
}
.edit-dependent {
  i {
    color: $darkestSecondary;
  }
}
.dependent-pic {
  clear: both;
  width: 110px;
  height: 110px;
  display: inline-block;
  float: left;
  img {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    padding: 10px;
  }
}
.dependent-info {
  float: right;
  display: inline-block;
  width: 325px;
  padding-top: 15px;
  height: auto;
  .row {
    margin-bottom: 7px;
  }
}
.dependent-name {
  font-family: 'open-sans-semibold', sans-serif;
  margin: 0;
  color: $fontSecondaryDark;
}
.show-more {
  color: $darkPrimary;
  padding-right: 5px;
}
.more-hr {
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 2px solid $lightGrey;
  padding-bottom: 5px;
}
.boards-nav {
  text-align: center;
  a {
    margin: 5px;
    i {
      color: $fontSecondaryDark;
    }
  }
}
.dependent-boards-title {
  font-family: 'open-sans-semibold', sans-serif;
  color: $fontSecondaryDark;
  margin: 0;
  padding: 10px;
}
.dependents-boards {
  padding: 5px;
}
.dependent-board {
  border: 1px solid $lightMediumGrey;
  width: 203px;
  margin: 5px;
  height: 70px;
  display: inline-block;
  float: left;
}
.navigate-boards {
  margin-bottom: 15px;
}
#dependentAvatarRow {
  background-color: #F9F9F9;
  margin: -5px;
}
.dependent-avatar {
  width: 140px;
  height: 350px;
  display: inline-block;
  float: left;
  img {
    width: 100%;
    height: 100%;
  }
}
@mixin body-part {
  z-index: 5;
  position: absolute;
}
.avatar-head {
  @include body-part;
  top: 15px;
  left: 80px;
}
.avatar-arm {
  @include body-part;
  top: 110px;
  left: 40px;
}
.avatar-leg {
  @include body-part;
  top: 250px;
  left: 80px;
}
.avatar-chest {
  @include body-part;
  top: 100px;
  left: 85px;
}
.camera-icon-circle:hover {
  background-color: $darkestSecondary;
}
.body-sections {
  width: 275px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  display: inline-block;
  float: right;
}
.body-section {
  clear: both;
  width: 100%;
  min-height: 40px;
  height: auto;
}
.body-section-title {
  padding-bottom: 30px;
  border-bottom: 2px solid $lightGrey;
}
.body-title {
  color: $darkestSecondary;
  font-size: 14px;
  font-family: 'open-sans-semibold', sans-serif;
}
.show-body-images {
  padding-top: 5px;
  i {
    color: $darkestSecondary;
    font-weight: 600;
  }
}
.dep-grey {
  color: $fontDark;
}
.dep-blue {
  display: inline-block !important;
  color: $fontSecondaryDark;
  font-family: 'open-sans-semibold', sans-serif;
}
.dep-pink {
  color: $fontPrimary;
  font-family: 'open-sans-semibold', sans-serif;
}
.dep-icon {
  display: inline-block !important;
  margin-right: 5px;
  color: $mediumGrey;
}

// Create dependent profile form

.dep-label {
  color: $darkestSecondary;
  font-family: 'opens-sans-semibold', sans-serif;
}
.dependent-links {
  margin-left: 0px;
  margin-top: 0px;
}
.dependent-link {
  margin-right: 20px;
  font-size: 14px;
  color: $fontSecondaryDark;
  &.hover {
    text-decoration: none;
  }
}
.active-dependent-link {
  border-bottom: 3px solid $darkPrimary;
}
#dependentProfileForm label {
  color: $darkestSecondary;
  font-family: 'open-sans-semibold', sans-serif;
}
#sendSubReqEmail {
  margin-top: 10px;
}
#subReqHeader {
  font-color: $fontSecondaryDark;
  font-family: 'open-sans-regular', sans-serif;
  margin-bottom: 20px;
}
