@import "global";
@import "page-styles";
@import "sweetalerts";

.user-doc-info b {
  color: $secondaryColor;
  font-weight: 400;
}
.user-doc-info h4 {
  font-size: 1.1em;
  font-weight: 600;
}
.doc-row {
  margin: 5px;
  background-color: $lightestGrey;
}
.user-docs {
  margin: 0;
  min-height: 350px;
  height: 100%;
  width: 100%;
  margin-right: 0;
}
.user-item {
  left: 0;
  display: inline-block;
  float: left;
  height: auto;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  p {
    margin: 0;
    padding: 0;
    color: $lightMediumGrey;
  }
}
.item-thumbnail {
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
  object-fit: cover;
  img {
    height: 100%;
    width: 100%;
  }
}
.item-specs {
  width: 100%;
  max-height: 40px;
  padding: 10px;
  clear: both;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  p {
    max-height: 40px;
    line-height: 20px;
    color: $secondaryColor;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.item-controls {
  clear: both;
  width: 220px;
  padding: 10px;
  height: auto;
  i {
    width: 40px;
    font-size: 1.5em;
  }
}
.add-to i {
  margin-left: 1px;
  margin-right: 13px;
}
.add-note i {
  margin-left: 0px;
  margin-right: 13px;
}
.download-item i {
  margin-left: 0px;
  margin-right: 13px;
}
.delete-item i {
  margin: 0px;
}
.item-icon {
  color: $lightMediumGrey;
}
.item-categories {
  height: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  word-wrap: break-word;
  span {
    background-color: $mediumSecondary;
    width: auto;
    display: inline-block;
    float: left;
    margin-bottom: 3px;
    margin-right: 5px;
  }
}
.newCategoryInput {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 180px;
}
.glimpse-modal-body label{
  color: $secondaryColor;
  font-weight: 600;
  font-size: 1em;
}
#createGlimpseBtn {
  background-color: $darkPrimary;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.highlight {
  color: $darkThirdColor;
}
#boardFiles {
  overflow-x: scroll;
}
.board-clicked {
  color: $darkPrimary;
}
.glimpseImage {
  height: 100px;
  width: 100px;
}

/*
Item image overlay details
*/

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.effects .img img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.5s;
}
.selected-item-green {
  color: $darkThirdColor;
  margin: 0 auto;
  z-index: 2001;
}
.hide-overlay {
  display: none;
}
.selected-overlay {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}
.selected-overlay i {
  bottom: 50%;
  top: 50%;
  position: absolute;
  font-size: 5em;
  margin-left: -25px;
  margin-top: -25px;
  color: $darkThirdColor;
}
a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 200px;
  height: 200px;
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  background-color: #000000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  line-height: 2;
  font-weight: 200;
  font-size: 1.4em;
}
#userDocs .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#userDocs .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto;
}
#userDocs .img.hover .overlay {
  height: 100%;
}

#boardModal label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $darkestSecondary;
  font-weight: 600;
}
.form-hidden {
  visibility: hidden;
}
#filterInputArea label {
  margin-right: 5px;
}
.filter-btn {
  margin-left: 5px;
  background-color: $secondaryColor;
}
.remove-filter {
  margin-left: 5px;
}
#loadingSpinner {
  font-size: 1.2em;
  color: $darkPrimary;
  margin-left: 10px;
  display: inline-block;
}
#addToBoardBody {
  padding: 15px;
}

@media (max-width: 480px) {

  #galleryButtons {
    margin-bottom: 0px !important;
    div {
      margin: 0 auto;
      margin-bottom: 15px;
      float: none;
    }
  }
  #filterArea {
    padding-top: 0px !important;
  }
  #deleteSelectedDiv {
    margin-right: 5px !important;
  }

}
