/* Dashboard styling */
@import "global";

.column {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.portlet-top {
  border-top: 3px solid $darkPrimary;
}
.upload-portlet-body {
  width: 75%;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: -25px;
}
.upload-body-img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.me {
  float: left;
  margin: 5px 45px 5px 20px;
}
.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
  left: -9px;
}
@mixin body-part {
  z-index: 5;
  position: absolute;
}
.avatar-head {
  @include body-part;
  top: 3%;
  left: 47%;
}
.avatar-arm {
  @include body-part;
  top: 40%;
  left: 17%;
}
.avatar-leg {
  @include body-part;
  top: 73%;
  left: 36%;
}
.avatar-chest {
  @include body-part;
  top: 23%;
  left: 55%;
}
.camera-icon-circle:hover {
  background-color: $darkestSecondary;
}
.light-shadow {
  box-shadow: 0 0 3px #B2B2B2;
}
.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.widgets {
  display: inline-block;
  margin: 5px 5px;
  height: 270px;
  width: 315px;
  color: #ffffff;
}
.widgets img {
  height: 100%;
  width: 100%;
}
.user-item.is-expanded,
.user-item.is-expanded .item-content {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.user-item.is-expanded {
  z-index: 2;
}
.user-docs .user-item {
  float: left;
}
#galleryPortletBody{
  text-align: center;
  max-height: 500px;
}
.user-item-dashboard{
  width: 48%;
  max-width: 180px;
  margin: 1%;
  padding: 1%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.user-item img {
  display: block;
  width: 100%;
  margin-right: 5px;
  height: auto;
}
.user-dicom {
  background-color: #fff;
  border-radius: 0px;
  padding: 15px 15px 15px 15px;
  width: 200px;
  height: 255px;
}
.user-item-dicom-desc {
  height: 45px;
  padding-top: 10px;
}
.share-body {
  color: #808080;
}
.user-image {
  width: 200px;
  height: auto;
}
#glimpseModalImaegs {
  height: 100px;
  overflow-x: scroll;
  width: 100%;
}
#editGlimpseBody h4 {
  color: $darkPrimary;
  margin: 0;
}
.user-glimpse {
  margin-bottom: 15px;
  margin-top: 5px;
  p {
    margin: 1px;
    color: #808080;
  }
}
.glimpse-images {
  margin-top: 5px;
}
.user-glimpse-image {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
}
.scroll-content {
  width: 100%;
  margin: 1%;
}
.zoom-item {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  z-index: 9999;
}
.item-modal-title {
  text-align: center;
}
.bootstrap-tagsinput {
  width: 100%;
}
.glimpse-images {
  margin-left: 15px;
  overflow-x: scroll;
}
.glimpseImage {
  height: 100px;
  width: 100px;
}
.user-glimpse h3 {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: 600;
}
#glimpsePortletBody {
  margin-right: 10px;
  p, h4 {
    margin-left: 15px;
  }
}
#editGlimpseBody h4 {
  font-size: 1.2em;
  font-weight: 500;
}
#editGlimpseBody span {
  margin: 5px;
}
.tools a {
  color: #aaaaaa;
}
#addFamily {
  background-color: #00a1d3;
}
#socialMedia a {
  color: #00a1d3;
}
.user-glimpse i {
  width: 20px;
  text-align: center;
}
.glimpse-title {
  font-size: 1em;
  font-weight: 600;
  color: #337ab7;
  margin-top: 0;
}
/*Custom board portlet styles */
.dashboard-user-board-item {
  display: inline-block;
  float: left;
  height: auto;
  width: 46%;
  max-width: 200px;
  margin: 2%;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.board-buttons button {
  display: inline-block;
  float: left;
  margin: 5px;
}
.popover {
  width: 345px;
  height: 600px;
  overflow-x: scroll;
  z-index: 2000;
}
.user-item-avatarSearch {
  display: inline-block;
  float: left;
  img {
    width: 150px;
    height: 150px;
    padding: 5px;
  }
}
#boardPortletBody {
  height: auto;
  max-height: 600px;
  .user-board {
    height: auto;
    overflow: hidden;
  }
 .board-items {
    height: auto;
    overflow: hidden;
  }
}
.show-more-board-items {
  margin-right: 10px;
  margin-top: 10px;
  color: $darkPrimary;
}
.show-more-board-items:hover {
  color: $darkPrimary;
}
.board-items-shorter {
  height: 215px !important;
}
#imageViewerModal {
  z-index: 10061;
}
