/* Platform landing page platform-home.aspx */
.column {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.landing-row {
  margin: 0 auto;
}
.portlet-top {
  border-top: 3px solid #Eb374C;
}
.upload-portlet-body {
  width: 75%;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: -40px;
}
.upload-body-img {
  width: 100%;
  height: auto;
}
.landingBodySmall {
  width: 50%;
  height: auto;
}
/* Containts the circle links and upload cloud */

.landingRight {
  position: relative;
  margin-left: 260px;
}
.switch-user img {
  width: 90%;
  height: 90%;
}
.light-shadow {
  box-shadow: 0 0 3px #B2B2B2;
}
.me {
  float: left;
  margin: 5px 45px 5px 20px;
}
.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
  left: -9px;
}
/*.upload-portlet-body {
  cursor: pointer;
}*/
/* Position links for body images - adults */

.avatar-head {
  z-index: 5;
  position: absolute;
  top: 5%;
  left: 47%;
}
.avatar-arm {
  z-index: 5;
  position: absolute;
  top: 40%;
  left: 17%;
}
.avatar-leg {
  z-index: 5;
  position: absolute;
  top: 73%;
  left: 36%;
}
.avatar-chest {
  z-index: 5;
  position: absolute;
  top: 23%;
  left: 55%;
}
/* Position links for body images - kids */

.avatar-head2 {
  z-index: 5;
  position: absolute;
  top: 5%;
  left: 23%;
}
.avatar-arm2 {
  z-index: 5;
  position: absolute;
  top: 30%;
  left: 10%;
}
.avatar-leg2 {
  z-index: 5;
  position: absolute;
  top: 60%;
  left: 16%;
}
.avatar-chest2 {
  z-index: 5;
  position: absolute;
  top: 22%;
  left: 26%;
}
.camera-icon-circle:hover {
  background-color: #02658C;
}
.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.widgets {
  display: inline-block;
  margin: 5px 5px;
  height: 270px;
  width: 315px;
  color: #fff;
}
.widgets img {
  height: 100%;
  width: 100%;
}
.user-media-container {
  width: 100%;
  height: auto;
  margin: 0;
}
/*.user-item:hover {
    z-index: 5;
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
}*/
.user-item.is-expanded,
.user-item.is-expanded .item-content {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.user-item.is-expanded {
  z-index: 2;
}
.user-docs .user-item {
  float: left;
}
#galleryPortletBody{
  text-align: center;
  max-height: 600px;
}
.user-item-dashboard{
  width: 48%;
  max-width: 180px;
  border-radius: 5px;
  margin: 1%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.user-item img {
  display: block;
  width: 100%;
  margin-right: 5px;
  height: auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
}
.user-item:hover .overlay {
  opacity: 1;
}
.overlay .plus:before {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.plus {
  padding: 5px;
}
.expandItemDesc.clicked .plus:before {
  content: "-";
}
.user-item-description {
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  overflow-y: scroll;
  background-color: #fff;
  bottom: -30%;
  text-align: center;
  transition: bottom 0.25s ease;
}
.user-item-description:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 16px;
  top: 0;
  -webkit-transform: translate(-50%, 100%);
}
.overlay.clicked + .user-item-description {
  bottom: 0%;
}
.overlay.clicked + .user-item-description:after {
  -webkit-transform: translate(-50%, -100%);
}
.plus-desc {
  padding-top: 5px;
}
.user-doc {
  width: 200px;
  height: auto;
}
.user-dicom {
  background-color: #fff;
  border-radius: 0px;
  padding: 15px 15px 15px 15px;
  width: 200px;
  height: 255px;
}
.user-item-dicom-desc {
  height: 45px;
  padding-top: 10px;
}
.share-body {
  color: #808080;
}
.user-image {
  width: 200px;
  height: auto;
}
#glimpseModalImaegs {
  height: 100px;
  overflow-x: scroll;
  width: 100%;
}
#editGlimpseBody {
  font-family: 'open-sans', sans-serif;
}
#editGlimpseBody h4 {
  color: #EB374C;
  margin: 0;
}
.user-glimpse {
  margin-bottom: 15px;
  margin-top: 5px;
}
.user-glimpse p {
  margin: 1px;
  color: #808080;
}
.glimpse-images {
  margin-top: 5px;
}
.user-glimpse-image {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
}
.scroll-content {
  width: 100%;
  margin: 1%;
}
.zoom-item {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  z-index: 9999;
}
.item-modal-title {
  text-align: center;
}
.bootstrap-tagsinput {
  width: 100%;
}
.glimpse-images {
  margin-left: 15px;
  overflow-x: scroll;
}
.glimpseImage {
  height: 100px;
  width: 100px;
}
.user-glimpse h3 {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: 600;
}
#glimpsePortletBody {
  margin-right: 10px;
}
#glimpsePortletBody p, h4 {
  margin-left: 15px;
}
#editGlimpseBody h4 {
  font-size: 1.2em;
  font-weight: 500;
}
#editGlimpseBody span {
  margin: 5px;
}
.tools a {
  color: #aaaaaa;
}
#addFamily {
  background-color: #00a1d3;
}
#socialMedia a {
  color: #00a1d3;
}
.user-glimpse i {
  width: 20px;
  text-align: center;
}
.glimpse-title {
  font-size: 1em;
  font-weight: 600;
  color: #337ab7;
  margin-top: 0;
}

/*Custom board portlet styles */
.dashboard-user-board-item {
  display: inline-block;
  float: left;
  height: auto;
  width: 46%;
  max-width: 200px;
  margin: 2%;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.board-buttons button {
  display: inline-block;
  float: left;
  margin: 5px;
}
.popover {
  width: 345px;
  height: 600px;
  overflow-x: scroll;
  z-index: 2000;
}
.user-item-avatarSearch {
  display: inline-block;
  float: left;
}
.user-item-avatarSearch img {
  width: 150px;
  height: 150px;
  padding: 5px;
}

@media (max-width: 850px) {
  .landingRight {
    margin: 0 auto;
    clear: both;
  }
}
