.modal-header {
  border-bottom: none!important;
}

.modal-footer {
  border-top: none!important;
}


#imageRepoTopButtonArea {
    float:right;width:200px;height:40px;z-index:9999;text-align:right;
}

.EntireScreenHoverClass
{
    vertical-align: middle;
    /*font-family: "Open Sans",sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #fff;*/
    z-index: 1600;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    /*display: block;*/
    /*transition: background 0.4s;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.2)));  Chrome,Safari4+*/
    /*background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%);  Chrome10+,Safari5.1+*/
    /*background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%);  Opera 12+
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%);  IE10+
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%);  W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#33000000',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}



    .FileUploadDisplayItem                        {}

    .FileUploadProgressBarWrapper                     {z-index:1500;width:100%;position:absolute; bottom:0px;border:none;line-height:11px;}
    .FileUploadDIV                                    {width:100%; height:10px; display:inline-block;}
    .FileUploadProgressBar                            {background:#45bedc;height:10px;width:0px;text-align:right;padding:0px 5px 2px 5px!important;border:none;
                                                         -webkit-transition: all .2s ease-in-out;
                                                         -moz-transition: all .2s ease-in-out;
                                                         -o-transition: all .2s ease-in-out;
                                                         transition: all .2s ease-in-out;
                                                         border-radius:2px;
                                                         -webkit-border-radius: 2px;
                                                         -moz-border-radius: 2px;
                                                         }
    .FileUploadProgressBarPercent                     {color: #eee;font-size:11px;font-weight:400;font-family: "Open Sans",sans-serif;}


.imageRepoWrapper
{
    width: 100%;
    height: 80%;
    display: inline-flex;
}

.imgRepo {
    background-color: #f4f5f5;
    border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    width: 255px;
    height: 255px;
    border: solid 1px #ccc;
    cursor:pointer;
    color: #ccc;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    margin:10px;
    padding:42px 10px;
}
.imgRepo:hover
{
    background-color: #cccccc!important;
    color: #fff!important;
}


.imgRepoNew {
    background: url('../images/icon75_plus.png') 50% 50% no-repeat;
}
.imgRepoNew:hover
{
    background: url('../images/icon75_plus_white.png') 50% 50% no-repeat;
}

.imgRepoNamed {
    background: url('../images/icon75_collection.png') 50% 50% no-repeat;
}
.imgRepoNamed:hover
{
    background: url('../images/icon75_collection_white.png') 50% 50% no-repeat;
}

.imgRepoSelected {
    background: url('../images/icon75_selected_dark.png') 50% 50% no-repeat!important;
}
.imgRepoSelected:hover
{
    color: #fff;
    background: #cccccc url('../images/icon75_selected.png') 50% 50% no-repeat!important;
}


.thumbnailViewAll,
.thumbnailViewAll:active,
.thumbnailViewAll:link,
.thumbnailViewAll:visited {
    text-decoration:none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color:#ccc;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    padding:60px 0px;
    width:157px;
    height:157px;
    background:#fff;
    transition: all 0.4s;
}
.thumbnailViewAll:hover {
    color:#777;
    border-color: #3175af;
}

.noshow {
    display:none;
}
#hdnInputFileUploadWrapper
{
    opacity:0;position:absolute;top:-100px;left:-100px;height:0px;width:0px;
}
.DropFilesHereBG {
    background: url('../images/dropFilesBackground.jpg') repeat;
    min-height: 150px;
    transition: all 0.4s;
}

.imgPreview {
    width: 95%;
    height: auto;
    max-height: 200px;
    display: inline-block;
}

.back-button {
    margin-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}
#logOutButton {
  color: #606060;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.camera-icon-circle {
 width:24px;
 height:24px;
 border-radius:50%;
 background-color: #02658C;
 color: #ffffff ;
 text-align: center;
 line-height: 24px;
 vertical-align: middle;
}
