@import "global";
@import "page-styles";
@import "sweetalerts";

input {
  border: 3px solid #e0e0e0;
  display: inline-block;
}

/*
Profile form row
*/
.profile-container {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  margin-left: 25px;
  margin-top: 10px;
  padding: 10px;
}
.profile-hr {
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 10px;
}
.profile-link {
  font-size: 14px;
  color: $mediumSecondary;
  font-family: 'open-sans-semibold', sans-serif;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.profile-link a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}
.active-profile-link {
  text-decoration: none;
  border-bottom: 2px solid $darkPrimary;
}
.profile-photo-div {
  margin: 0 auto;
}
.profile-form-container {
  background-color: $lightestGrey;
  border: 1px solid #E0E0E0;
  padding: 15px;
  margin: 20px;
}
.profile-form label, .update-password-container label {
  font-family: 'open-sans-semibold', sans-serif;
  margin-bottom: 10px;
  color: $mediumSecondary;
  font-size: 1em;
}
.profile-buttons {
  margin-top: 20px;
}
.profile-button:first-child {
  margin-right: 20px;
}
#changePhotoDiv {
  clear: both;
  margin-top: 15px;
  position: relative;
  width: 150px;
  height: 35px;
  overflow: hidden;
  input {
    cursor: pointer;
  }
}
#profilePhotoPreview {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  object-fit: cover;
}
.change-photo-btn {
  position: absolute;
  width: 150px;
  max-width: 100%;
  height: 100%;
  background-color: $darkestSecondary;
  cursor: pointer;
}
#profilePhotoUpload {
  opacity:0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 1;
  top:0;
  right:0;
  padding:0;
  margin: 0;
}

/*
Validation
*/
.red-error {
  border: 1px solid red;
}
.green-ok {
  border: 1px solid green;
}
@mixin validate-input {
  position: relative;
  width: 15px;
  height: 15px;
  display: block;
  z-index: 100;
  text-align: right;
}
.inp-val-4 {
  @include validate-input;
  margin-top: -27px;
  margin-left: 90%;
}
.inp-val-3 {
  @include validate-input;
  margin-top: -27px;
  margin-left: 86%;
}
.inp-val-6 {
  @include validate-input;
  margin-top: -27px;
  margin-left: 93%;
}
.inp-val-weight {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: -32%;
  text-align: right;
  z-index: 100;
}
.inp-ok {
  color: green;
}
.inp-error {
  color: red;
}

/*
Update password row
*/
.update-password-container {
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
}
.update-password-div {
  background-color: $lightestGrey;
  padding: 25px;
  border: 1px solid #E0E0E0;
}

@media (max-width: 990px) {

  #profilePhotoDiv {
    text-align: center !important;
  }
  #changePhotoDiv {
    margin-bottom: 15px;
    margin-left: -150px;
    width: auto;
  }

}
