/* @import '../plugins/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss'; */
/* @import '../plugins/simple-line-icons/scss/simple-line-icons.scss'; */
/* @import '../plugins/font-awesome/scss/font-awesome.scss'; */
@import './themes/dropzoneTheme.scss';

.form-control-feedback{
  top: 9px;
}

.urlDiv {
  color: white;
  background-color: $nameDivBar;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}
.copyButton{
  margin-left: 10px;
}
.requiredField{
  margin-top:5px;
}
.top-left-box {
  padding-top: 10px;
  padding-left: 60px;
}
.right-border{
  border-right: 1px solid rgba(208, 208, 208, 0.33);
}
.top-right-box {
  padding-top: 10px;
  padding-left: 60px;
}
body {
  background-color: $appBackground;
  font-family: 'open-sans', sans-serif;
  height: 100%;
  letter-spacing: 0.5px;
  color: $grey-text;
}
div{
  margin-bottom: 4px;
}
.grey-text{
  margin: 0px 0px 20px;
}
.form-header{
  color: $startButton;
  font-weight: bold;
}
.formHeader{
  color: $indegoblue;
  margin-bottom: -6px;
}
.terms{
  color: $lifespeedPink;
}
.terms-warning{
  margin-bottom: 20px;
  font-weight: bold;
}
.app-background{
  background-color: white;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px $dropzoneBorder;
}

.page-title {
  margin: 15px 15px -9px;
}
#title {
  margin-top: 3px;
  color: $dropzonePink;
  font-size: larger;
  letter-spacing: 0.5px;
}
.btn-start {
  background-color: $startButton;
  margin-right: 30px;
  margin-bottom: 10px;
  color: white;
}
//"the text after it"
.greetings-text {
  color: $grey-text;
  margin-left: -2px;
}

.terms-header{
  padding-left: 45px;
  color: $lifespeedPink;
}
.terms-and-conditions{
  padding-left: 45px;
}
.checkbox-label{
  position: relative;
  bottom:6px;
}

.no-bottom-margin{
  margin-bottom: 0px;
}
