@import 'global';

.lifespeedPink {
  color: $darkPrimary;
}
.form-control-feedback{
  top: 9px;
}
.dropdown-menu {
  box-shadow: 0 0 rgba(102, 102, 102, 0.1);
}
.urlDiv {
  color: white;
  background-color: $secondaryColor;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}
.copyButton{
  margin-left: 10px;
}
.requiredField{
  margin-top:5px;
}
.top-left-box {
  padding-top: 10px;
  padding-left: 60px;
}
.right-border{
  border-right: 1px solid rgba(208, 208, 208, 0.33);
}
.top-right-box {
  padding-top: 10px;
  padding-left: 60px;
}
body {
  background-color: $lightestGrey;
  font-family: 'open-sans', sans-serif;
  height: 100%;
  letter-spacing: 0.5px;
  color: $mediumGrey;
}
div{
  margin-bottom: 4px;
}
.grey-text{
  margin: 0px 0px 20px;
}
.form-header{
  color: $lightPrimary;
  font-weight: bold;
}
.formHeader{
  color: $darkestSecondary;
  margin-bottom: 15px;
}
.terms{
  color: $lightPrimary;
}
.terms-warning{
  margin-bottom: 20px;
  font-weight: bold;
}
.app-background{
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
  box-shadow: 1px 1px 1px 1px $lightGrey;
}

/* .page-title {
  margin: 15px 15px -9px;
} */

hr {
  margin-top: 0;
  margin-bottom: 15;
}

#title {
  /* margin-top: 3px; */
  color: $lightPrimary;
  font-size: larger;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: 'open-sans-bold', sans-serif;
  font-weight: bold;
}
.title-font {
  font-size: 19px;
}
.btn-start {
  background-color: $darkestSecondary;
  margin-right: 30px;
  margin-bottom: 10px;
  color: white;
}
//"the text after it"
.greetings-text {
  color: $mediumGrey;
  margin-left: -2px;
}

.terms-header{
  padding-left: 45px;
  color: $lightPrimary;
}
.terms-and-conditions{
  padding-left: 45px;
}
.checkbox-label{
  position: relative;
  bottom:6px;
}

.no-bottom-margin{
  margin-bottom: 0px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
  top: -3px;
}
