@import '../plugins/simple-line-icons/scss/simple-line-icons.scss';
@import '../plugins/font-awesome/scss/font-awesome.scss';
@import 'global';

.myHeader{
  width: 100%;
  height: 50px;
  background-color: white;
}
.myLogoWrapper{
  height: 40px;
  width: auto;
}
.logo{
  height: 100%;
  width: auto;
  margin: 5px 10px;
}
.app-background{
  background-color: white;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px $lightGrey;
}
.totalBar{
  padding-bottom: 10px;
}
//panal container padding on the side
.container-fluid{
  padding-right:19px;
  padding-left:19px;
}
.panel{
  padding: 1px;
}
//drag and drop box
.dropzoneTitleDiv{
  margin-top: 17px;
  padding: 1px;
}
//div box that contains the extensions
.extensionsDiv{
  margin-bottom: 17px;
}
//dashed box
.dashedBox {
  margin: 30px;
  background-color: $lightestGrey;
  border: 3px dashed $lightGrey;
  text-align: center;
  opacity: 0.4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
//cloudIcon div
.cloudIconDiv {
  font-size: 3em;
  margin-bottom: 13px;
}
//on hover
.dashedBox:hover {
  opacity: 0.6;
}
//column that contains the supported formats
.fileTypes {
  margin: 0 auto;
  text-align: center;
}
//div that contains the supported formats
.supportFormatsDiv{
  margin-bottom: 17px;
}
//actual code to control the how the extensions are displayed
.fileTypeList {
  font-size: 0.8em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  border: 2px solid $lightGrey;
  list-style: none;
  margin: 10px;
  padding: 0px 5px;
  padding-top: 3px;
}
//start of top right box css
.top-right-box {
  padding-top: 9px;
  padding-left: 50px;
  div {
    padding-top: 5px;
  }
}
//color of the auth form.
.authForm {
  color: $darkPrimary;
}
//the div that holds the auth form link.
.textBoxDiv {
  margin-top: -25px;
}
//profile image
.profileImageWrapper {
  padding: 1px;
}
//text box next to profile image
.patientInfoBox {
  color: $darkestSecondary;
  padding-left: 36px;
  font-family: "open-sans-regular";
  margin-left: -15px;
}
//blue bar with patient name
.patientNameDiv {
  color: white;
  background-color: $lightSecondary;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 29px;
  margin-bottom: 20px;
}
//specifically the patient f name and l name
.patientName {
  color: white;
}
//specifically the last name
.lName {
  margin-left: 19px;
}
//all the texts in the text box
.patientInfoText {
  margin-left: 10px;
  font-family: "open-sans-regular";
}
//the div box containing the medical records relese form
.authLinkDiv {
  padding-top: 30px !important;
  margin-left: 4px;
  color: $mediumGrey;
  a {
    text-decoration: underline;
    color: $lightSecondary;
  }
}
//end of top right box css
//start of top left box css
.top-left-box {
  padding-top: 35px;
  padding-left: 60px;
  div {
    padding-bottom: 29px;
    padding-left: 25px;
  }
}
//"Welcome to the Lifespeed Uploader"
.greetings {
  color: $darkestSecondary;
  font-weight: 400;
  font-size: larger;
}
//"the text after it"
.greetings-text {
  color: $mediumGrey;
  margin-left: -2px;
}
.btn-add {
  background-color: $darkThirdColor;
  margin-right: 30px;
  margin-bottom: 10px;
}
.btn-start {
  background-color: $darkestSecondary;
  margin-right: 30px;
  margin-bottom: 10px;
}
.btn-cancel {
  background-color: white;
  color: $mediumGrey;
  border: 2px solid;
  margin-bottom: 10px;
  border-color: $lightGrey;
}
//bottom margin width
.progress {
  margin-bottom: 1px;
}
//end of top left box
body {
  background-color: $lightestGrey;
  font-family: 'open-sans-regular';
  height: 100%;
  letter-spacing: 0.6px;
}
//Request Date font and positioning
.urgentTag {
  font-weight: 300;
  color: $mediumGrey;
  margin-top: 2px;
}
// label color and positioning
.label-urgent {
  margin-left: 17px;
  padding: 9px 20px;
  background-color: $darkPrimary;
}
// div box box that has the Upload records and Request Date and urgent tags
.page-title-upload {
  margin: 15px 15px -9px;
}
.lifespeedPink{
  color: $darkPrimary;
}
#title {
  margin-top: 3px;
  color: $darkPrimary;
  font-size: larger;
}
//nav bar color
.navigationbox {
  background-color: white !important;
}
//buttons div box
#actions {
  margin-top: 10px;
  padding-left: 39px;
  color: white;
  font-weight: bold;
  margin-bottom:-15px;
}
/* Mimic table appearance */

.progress {
  background: rgba(250, 250, 250, 1);
  border-radius: 4px; height: 20px;
}
.success {
  background: $lightestGrey;
}
.progress-striped .success {
  background-color: rgba(7, 166, 129, 0.82);
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent)));
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
  background-size: 40px 40px;
}

div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row:nth-child(odd) {
  background: $lightGrey;
}
/* The total progress gets shown by event listeners */
#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}
/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}
