@import 'global';

.myHeader{
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.myLogoWrapper{
  height: 40px;
  width: auto;
}
.dropdown-menu {
  box-shadow: 0 0 rgba(102, 102, 102, 0.1);
}
.logo{
  height: 100%;
  width: auto;
  margin: 5px 10px;
}
.app-background{
  background-color: white;
  margin: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px $lightMediumGrey;
}

//panal container padding on the side
.container-fluid{
  padding-right:19px;
  padding-left:19px;
}
.panel{
  padding: 1px;
}
//blue bar with patient name
.bluebar {
  color: white;
  background-color: $secondaryColor;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 29px;
  display: inline-block;
  margin-bottom: 20px;
}
//end of top left box
body {
  background-color: $lightestGrey;
  font-family: 'Open-Sans', sans-serif;
  height: 100%;
  letter-spacing: 0.6px;
}

hr {
  margin-top: 0;
  margin-bottom: 15;
}

#title {
  /* margin-top: 3px; */
  color: $lightPrimary;
  font-size: larger;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: 'open-sans-bold', sans-serif;
  font-weight: bold;
}
.title-font {
  font-size: 19px;
}
