/* @import '../plugins/simple-line-icons/scss/simple-line-icons.scss'; */
/* @import '../plugins/font-awesome/scss/font-awesome.scss'; */
@import './themes/dropzoneTheme.scss';
@import './vendor/reactGrid.scss';

.myHeader{
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.myLogoWrapper{
  height: 40px;
  width: auto;
}
.logo{
  height: 100%;
  width: auto;
  margin: 5px 10px;
}
.app-background{
  background-color: white;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px $dropzoneBorder;
}

//panal container padding on the side
.container-fluid{
  padding-right:19px;
  padding-left:19px;
}
.panel{
  padding: 1px;
}
//blue bar with patient name
.bluebar {
  color: white;
  background-color: $nameDivBar;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 29px;
  display: inline-block;
  margin-bottom: 20px;
}
//end of top left box
body {
  background-color: $appBackground;
  font-family: 'Open-Sans', sans-serif;
  height: 100%;
  letter-spacing: 0.6px;
}
#title {
  margin-top: 15px;
  color: $dropzonePink;
  font-size: larger;
  letter-spacing: 1px;
}
