@import 'bourbon';
@import 'neat';

// app bar
.appBar {
  transform-style: preserve-3d;
  height: 100px;
  @include outer-container(100%);
  background-color: white;
}

.appBarUser {
  background-color: #0075a7;
  height: 100px;
  width: 250px;
  float: left;
}

.appUserWrap {
  height: 100px;
  float: left;
  padding-left: 16px;
}

.appUserPhoto {
  @include vertical-align();
  float: left;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.appUserName {
  @include vertical-align();
  float: left;
  text-transform: uppercase;
  color: $app-background;
  margin-left: 15px;
}

.appBarMenuButton {
  @include vertical-align();
  margin-right: 30px;
  float: right;
  color: $app-background;
}

.appBarTitle {
  @include vertical-align();
  margin-left: 30px;
  float: left;
  letter-spacing: 1px;
  font-size: 1.3em;
  a {
    text-decoration: none;
  }
  a:link, a:visited {
    color: #2D303C;
  }
  a:hover, a:active {
    color: $light-grey;
  }
}
