.appNavBar {
  float: left;
  height: calc(100vh - 100px);
  min-height: 650px;
  color: $app-background;
  width: 250px;
  text-transform: uppercase;
  font-size: .8em;
  @include background-image(radial-gradient(#333546, #2A2B38));
}

.appNavMenu {
  // list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-top: 15px;
  li a {
    text-decoration: none;
    margin-left: 30px;
  }
  a {
    position:relative;
    top:-5px;
    left: -2px;
  }
  li {
    height: 70px;
    cursor: pointer;
  }
  .appNameItemWrap {
    @include vertical-align();
    margin-left: 30px;
  }
  .isActive {
    background-color: #1E1F2C;
  }
  a:link, a:visited {
    color: $app-background;
  }
  a:hover, a:active {
    color: white;
  }
}
