@import '../base/variables';
// grid items
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid-items-lines {
  $base-background-color2: $light-grey !default;
  $dark-gray: $dark-grey !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background2: $base-background-color2;
  $grid-item-background2: $base-background-color2;
  $grid-item-border: 0px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 6;
  $grid-item-big-columns: 12;
  $grid-item-color: $base-font-color;
  $grid-item-height: 10em;
  @include clearfix;
  text-align: center;
  position: relative;
  // margin-bottom: 2em;
  // background: $base-background-color2;
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background2;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: default;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
    // &:focus,
    // &:hover {
    //   background: transparentize($grid-item-color, 0.95);
    // }
  }
  .grid-omega {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background2;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: default;
    float: left;
    height: 2em;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    // @include media($large-screen) {
    //   @include grid-item-columns($grid-item-columns);
    // }
    // &:focus,
    // &:hover {
    //   background: transparentize($grid-item-color, 0.95);
    // }
  }
  .grid-item img {
    display: block;
    height: 2.9em;
    margin-bottom: 1.2em;
    // opacity: 0.8;
  }
  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }
  .grid-item p {
    color: $text-light-grey;
    line-height: 1.5em;
    margin: 0 auto;
    @include media($medium-screen) {
      max-width: 70%;
    }
  }
  .grid-i {
    color: $blue;
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }
}

// feature hr
.feature-wrapper {
  @include outer-container(100%);
  background-color: $light-grey;
}
.feature-title {
  margin-top: 1em;
  @include span-columns(9);
  @include shift(1.5);
  @include pad(2em);
  background-color: $light-grey;
  hr.feature-hr {
    padding: 0;
    border: none;
    border-top: 1px solid #b9b9b9;
    color: $dark-grey;
    text-align: center;
  }
  hr.feature-hr:after {
      content: "Features";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.2em;
      padding: 0 0.5em;
      background: $light-grey;
  }
}
