@import '../base/variables';
.signup-wrapper {
  margin-top: 0.5em;
  padding: 1em;
  width: 300px;
  margin: 0 auto;
}
.signupbutton {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  left: 90px;
}
