@import '../base/variables';
.signup-wrapper {
  margin-top: 0.5em;
  padding: 1em;
  width: 400px;
  margin: 0 auto;
}
.signupbutton {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  left: 90px;
  padding-bottom: 1em;
}

.betasignup-wrapper {
  margin: 0 auto;
  margin-top: 50px;
}

.signup-wrap {
  margin: 0 auto;
  max-width: 350px;
}

.spacing {
  @include pad(3em);
}

.signupAlpha {
  @include outer-container(100%);
  @include background-image(linear-gradient(50deg, #202D66, #85BBCD));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 579px;
  // margin-bottom: 2em;
  // @include media($mobile) {
  //   height: 750px;
  // }
  // @include media($mediummobile) {
  //   height: 830px;
  // }
  // @include media($smallerMobile) {
  //   height: 890px;
  // }
}

.signupButtonWrap {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  left: 159px;
}
