@import 'bourbon';
@import 'neat';
@import 'base/variables';
@import 'generated/icons';

body {
  height: 100%;
  font-family: $helvetica;
}
.alpha {
  @include outer-container(100%);
  @include background-image(linear-gradient(130deg, #451e98, #2989d8));
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  @include media($mobile) {
    height: 750px;
  }
  @include media($mediummobile) {
    height: 830px;
  }
  @include media($smallerMobile) {
    height: 890px;
  }
}
.beta {
  padding-top: 5em;
  @include media($mobile) {
    padding-top: 2em;
  }
}
.slogan {
  margin-top: 90px;
  margin-bottom: 30px;
  @include span-columns(5);
  text-align: center;
  @include shift(1);
  color: white;
  @include media($mobile) {
    @include span-columns(4);
    @include shift(1);
  }
  @include media($smallerMobile) {
    @include span-columns(5);
    @include shift(0.5);
  }
}
.home-signup {
  @include span-columns(5);
  @include shift(1);
  text-align: center;
  color: white;
  width: 400px;
  @include media($mobile) {
    @include span-columns(3);
    @include shift(1.5);
  }
  @include media($mediummobile) {
    @include span-columns(5);
    @include shift(0.5);
  }
  @include media($smallerMobile) {
    @include span-columns(5.5);
    @include shift(0.25);
  }
}
.signup-wrapper {
  margin-top: 0.5em;
  padding: 1em;
  width: 300px;
  margin: 0 auto;
}
.signupbutton {
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  left: 90px;
}

// FOOTER
// Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }
// html, body {
//  height: 100%;
// }
// .wrapper-for-content-outside-of-footer:after {
//   content: "";
//   display: block;
// }
// .footer-2, .wrapper-for-content-outside-of-footer:after {
//   height: 17em;
//   @include media($large-screen) {
//     height: 4em;
//   }
// }
.footer-2 {
  $base-spacing: 1.5em !default;
  $action-color: $blue !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;
  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }
  .footer-logo img {
    height: 1.6em;
  }
  ul {
    line-height: 1.5em;
    margin: 0 0 1em;
    padding: 0;
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }
  ul li {
    list-style: none;
    padding-right: 1em;
    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }
  ul li a {
    color: $footer-link-color;
    text-decoration: none;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }
    li {
      font-size: 0.8em;
    }
    ul.footer-social {
      margin: 1em 0 0;
      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }
      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;
        &:last-child {
          padding-right: 0;
        }
      }
      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;
        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
//
// grid items
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid-items-lines {
  $base-background-color: rgb(233, 233, 233) !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 0px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 6;
  $grid-item-big-columns: 12;
  $grid-item-color: $base-font-color;
  $grid-item-height: 10em;
  @include clearfix;
  position: relative;
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    // cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
    // &:focus,
    // &:hover {
    //   background: transparentize($grid-item-color, 0.95);
    // }
  }
  .grid-item img {
    display: block;
    height: 2.9em;
    margin-bottom: 1.2em;
    // opacity: 0.8;
  }
  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }
  .grid-item p {
    color: transparentize($grid-item-color, 0.4);
    line-height: 1.5em;
    @include media($medium-screen) {
      max-width: 70%;
    }
  }
  .grid-i {
    color: $blue;
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%;
  }
  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px;
  }
}

// grid item 2
// @mixin grid-item-columns($columns) {
//   width: (100% / 12) * $columns;
// }
//
// .grid-items {
//   $action-color: #477DCA !default;
//   $base-background-color: white !default;
//   $medium-screen: em(640) !default;
//   $large-screen: em(860) !default;
//   $grid-items-background: $base-background-color;
//   $grid-item-background: desaturate($action-color, 30%);
//   $grid-item-colors:
//     desaturate($action-color, 30%),
//     #3581A5,
//     #5FBEBE,
//     #98C79A,
//     #A7A891,
//     #BDCC97,
//     #979EA0;
//   $grid-item-border-size: 9px;
//   $grid-item-columns: 4;
//   $grid-item-big-columns: 8;
//   $grid-item-color: white;
//   $grid-item-height: 14em;
//
//   @include clearfix;
//
//   .grid-item {
//     @include transition (all 0.2s ease-in-out);
//     background: $grid-item-background;
//     border-bottom: $grid-item-border-size solid $grid-items-background;
//     border-left: ($grid-item-border-size / 2) solid $grid-items-background;
//     border-right: ($grid-item-border-size / 2) solid $grid-items-background;
//     border-top: 0;
//     cursor: pointer;
//     float: left;
//     height: $grid-item-height;
//     overflow: hidden;
//     outline: none;
//     padding: 2em;
//     text-align: center;
//     text-decoration: none;
//     width: 100%;
//
//     @include media($large-screen) {
//       @include grid-item-columns($grid-item-columns);
//     }
//
//     @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
//       &:nth-child(#{$i}) {
//         $background-from-list: nth($grid-item-colors, $i);
//         background-color: $background-from-list;
//         box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);
//
//         &:focus,
//         &:hover {
//           background-color: darken($background-from-list, 10%);
//           background-repeat: no-repeat;
//           background-position: top;
//           background-size: cover;
//         }
//       }
//     }
//   }
//
//   .grid-item img {
//     display: block;
//     height: 3em;
//     margin: 0 auto 1em;
//   }
//
//   .grid-item h1 {
//     color: $grid-item-color;
//     font-size: 1.3em;
//     margin-bottom: 0.4em;
//   }
//
//   .grid-item p {
//     color: transparentize($grid-item-color, 0.3);
//     line-height: 1.5em;
//     margin: auto;
//
//     @include media($medium-screen) {
//       max-width: 70%;
//     }
//   }
//
//   .grid-item-big {
//     @include media($large-screen) {
//       @include grid-item-columns($grid-item-big-columns);
//     }
//
//     p {
//       @include media($medium-screen) {
//         max-width: 60%;
//       }
//     }
//   }
//
//   .grid-item-image {
//     background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
//     background-color: $grid-item-background;
//     background-position: top;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
// }

// //hero
//
// .hero {
//   $base-border-radius: 3px !default;
//   $action-color: #477DCA !default;
//   $large-screen: em(860) !default;
//   $hero-background-top: #7F99BE;
//   $hero-background-bottom: #20392B;
//   $hero-color: white;
//   $gradient-angle: 10deg;
//   $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
//
//   @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
//   background-color: #324766;
//   background-position: top;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding-bottom: 3em;
//
//   .hero-logo img {
//     height: 4em;
//     margin-bottom: 1em;
//   }
//
//   .hero-inner {
//     @include outer-container;
//     @include clearfix;
//     margin: auto;
//     padding: 3.5em;
//     text-align: center;
//
//     .hero-copy {
//       text-align: center;
//
//       h1 {
//         color: $hero-color;
//         font-size: 1.6em;
//         margin-bottom: 0.5em;
//
//         @include media($large-screen) {
//           font-size: 1.8em;
//         }
//       }
//
//       p {
//         color: $hero-color;
//         line-height: 1.4em;
//         margin: 0 auto 3em auto;
//
//         @include media($large-screen) {
//           font-size: 1.1em;
//           max-width: 40%;
//         }
//       }
//     }
//   }
// }

// how it works

.howitworks-wrapper {
  @include outer-container(100%);
}

.howitworks-title {
  @include span-columns(9);
  @include shift(1.5);
  @include pad(2em);
  hr.howitworks-hr {
    padding: 0;
    border: none;
    border-top: 1px solid #dbdbdb;
    color: $dark-grey;
    text-align: center;
  }
  hr.howitworks-hr:after {
      content: "How it Works";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.2em;
      padding: 0 0.5em;
      background: white;
  }
}


.feature-wrapper {
  @include outer-container(100%);
  background-color: rgb(233, 233, 233);
}
.feature-title {
  @include span-columns(9);
  @include shift(1.5);
  @include pad(2em);
  background-color: rgb(233, 233, 233);
  hr.feature-hr {
    padding: 0;
    border: none;
    border-top: 1px solid #b9b9b9;
    color: $dark-grey;
    text-align: center;
  }
  hr.feature-hr:after {
      content: "Features";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.2em;
      padding: 0 0.5em;
      background: rgb(233, 233, 233);
  }
}

// grid2 items
@mixin grid2-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid2-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid2-items-background: $base-background-color;
  $grid2-item-background: $base-background-color;
  $grid2-item-border: 0px solid transparentize($base-font-color, 0.9);
  $grid2-item-columns: 4;
  $grid2-item-big-columns: 12;
  $grid2-item-color: $base-font-color;
  $grid2-item-height: 14em;
  @include clearfix;
  position: relative;
  .grid2-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid2-item-background;
    border-bottom: $grid2-item-border;
    border-right: $grid2-item-border;
    // cursor: pointer;
    float: left;
    height: $grid2-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    @include media($large-screen) {
      @include grid2-item-columns($grid2-item-columns);
    }
    // &:focus,
    // &:hover {
    //   background: transparentize($grid2-item-color, 0.95);
    // }
  }
  .grid2-item img {
    display: block;
    height: 2.9em;
    margin-bottom: 1.2em;
    // opacity: 0.8;
  }
  .grid2-item h1 {
    color: $grid2-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }
  .grid2-item p {
    color: transparentize($grid2-item-color, 0.4);
    line-height: 1.5em;
    @include media($medium-screen) {
      max-width: 70%;
    }
  }
  .grid2-i {
    color: $blue;
  }
  .grid2-item-big {
    @include media($large-screen) {
      @include grid2-item-columns($grid2-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover2 {
    background: $grid2-items-background;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%;
  }
  .right-cover2 {
    background: $grid2-items-background;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px;
  }
}
