{
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-quotes": [2, "single", "avoid-escape"],
    "react/sort-comp": [0],
    "strict": [2, "global"],
  },
  "ecmaFeatures": {
    "modules": true
  }
}
